$grid-width: 140rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 0.5rem;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  max-width: $grid-width;
  background: rgba(209, 138, 138, 0.446);
  margin: 0 auto; // top-bot = 0 left right auto

  // put margin on all children except the last child
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix;

  [class^="col-"] {
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 400;
    background-color: limegreen;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

    &:last-child {
      background: #1a9b6e;
      margin-right: -0.3px;
    }
  }
}

@function calc-x-of-y($x,$y) {
  @return calc( (100% - ( #{$gutter-horizontal} * (#{$y} / #{$x} - 1)     ) ) /   (#{$y} / #{$x}) );
}

.col-1-of-1 {
  width: 100%;
}

.col-1-of-2 {
  width: calc-x-of-y(1, 2);
}

.col-1-of-3 {
  width: calc-x-of-y(1, 3);
}

.col-2-of-3 {
  width: calc-x-of-y(2, 3);
}

.col-2-of-4 {
  width: calc-x-of-y(2, 4);
}

.col-1-of-12 {
  width: calc-x-of-y(1, 12);
}

.col-1-of-4 {
  width: calc-x-of-y(1, 4);
}

.col-1-of-24 {
  width: calc-x-of-y(1, 24);
}

.col-3-of-4 {
  width: calc-x-of-y(3, 4);
}
